<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.easyfit">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".activities.CreateAccountActivity"
            android:parentActivityName=".activities.LauncherActivity"/>
        <activity
            android:name=".activities.LoginActivity"
            android:parentActivityName=".activities.LauncherActivity" />
        <activity
            android:name=".activities.LauncherActivity"
            android:theme="@style/AppTheme.NoActionBarNotTransparentStatusBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.AddEatenProductActivity" />
        <activity android:name=".activities.GoalsEditActivity" /> <!-- android:parentActivityName=".MainActivity"/> -->
        <!-- android:theme="@style/AppTheme.NoActionBar" -->
        <receiver
            android:name=".receivers.SystemRebootBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.AlarmsBoradcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.easyfit.NOTIFICATION" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
    </application>

</manifest>